*~
data/raw/*
data/formatted/*
*gz
data/all.csv
data/refined/*
data/tmp
data/convert
data/unifier/*.new
Untitled*
tmp/*
*.pyc
data/all.unames.csv
data/all.anonymes.csv
data/public/*csv
.mkdirs
data/captcha/wav/
data/captcha/collection.db
data/captcha/image/
data/captcha/silence/
