/* ==========================================================================
   Navbar style
   ========================================================================== */
body {
  min-height: 2000px;
  padding-top: 70px;
}


/* ==========================================================================
   Chart style
   ========================================================================== */

.doughnut-legend {
  list-style: none;
  right: 8px;
  top: 0;
}
.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 10px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}