/* ==========================================================================
   Global style
   ========================================================================== */
body {
  min-height: 2000px;
  position: relative;
}

h2, h3 {
  margin-top: 0;
  text-align: center;
}

.counter {
  font-size: 30px;
  margin: 0px 0px 0px -25px;
}

.download {
  text-align: center;
  font-size: 0.85em
}
.row p {
  margin-bottom: 20px;
}
.row p.faq {
  margin-bottom: 10px;
}
.row p.bottom {
  margin-bottom: 45px;
}

.intro-header {
    display: table;
    width: 100%;
    height: auto;
    padding: 60px 0;
    text-align: center;
    color: rgb(13, 13, 26);
    /*background: url(../images/sunshine.jpeg) no-repeat bottom center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.page-header {
    margin-top: 20px;
}

.intro-text {
    position: relative;
    padding-top: 10px;
}

.light {
       color: #777;
}

@media(max-width:767px) {
    .intro-text {
        padding-bottom: 10%;
    }
    #global-conventions{
	border-top: 1px solid black;
	padding-top: 30px;
    }
}

.section {
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
}

.row-next {
    padding: 50px 0;
}

.section.dark {
    background: #eee
}

.table-in-dark-section {
    background-color: #ffffff
}

footer {
  height: 32px;
  background-color: white;
  border-top: 2px solid #e7e7e7;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

footer .navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}

footer .navbar-nav > li > a {
  padding-top: 5px !important;
}


/* ==========================================================================
   Chart style
   ========================================================================== */

#labos svg {
  height: 500px;
}

#praticiens svg {
  height: 500px;
}

#nature-avantages svg {
  height: 400px;
}

#objet-conventions svg {
  height: 400px;
}

.doughnut-legend {
  list-style: none;
  right: 8px;
  top: 0;
  padding: 0;
}
.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 10px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

.nvd3 .disabled {
    text-decoration: line-through;
}
